/* styles/globals.css */

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(90deg, #040c22 0%,  #112d79 30%, #115c79 90%,#146d91 100% );
  }
  
  main {
    padding: 20px;
  }
  
  input {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: none;
  }
  
  button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px;
    transition: ;
  }

  button:hover{
    background-color: #ccc;
    transform: scale(1.03);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px 0;
  }
  

  a:hover{
    color: blue;
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
  
    li a {
      flex: 1;
    }
  }

.mt{
  margin-bottom: -2px ;
}

.mb{
  margin-bottom: 10px;
}

.txt-white{
  color: white;
}

.txt-center{
  align-items: center;
  position: absolute;
  left: 43%;
  z-index: 1;

}

/* Estilos CSS */
.container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  padding: 100px;
}

.left-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-column {
  display: grid;
  grid-template-columns: 3fr; 
  gap: 20px;
  margin-left: 10%;
}

.card {
  background-color: blue;
  padding: 15px;
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}



@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; 
  }

  .left-column {
    margin-bottom: 20px;
  }

  .right-column {
    grid-template-columns: 1fr; 
  }
}


  .credit-card:hover {
    transform: scale(1.03); 
  }


.header-txt{
  text-align: center;
}


.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  font-family: sans-serif;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.background::before,
.background::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.background::before {
  width: 400px;
  height: 400px;
  top: 10%;
  left: 10%;
}

.background::after {
  width: 600px;
  height: 600px;
  bottom: 10%;
  right: 10%;
}

.circle-small,
.circle-medium,
.circle-large {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.circle-small {
  width: 100px;
  height: 100px;
  top: 20%;
  left: 60%;
}

.circle-medium {
  width: 200px;
  height: 200px;
  bottom: 30%;
  left: 20%;
}

.circle-large {
  width: 300px;
  height: 300px;
  top: 50%;
  right: 20%;
}

.credit-card {
  width: 80%;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(10px); 
  color: white;
  font-family: 'Arial, sans-serif';
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-bottom: 20px;
}

.card-bank-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.chip {
  width: 50px;
  height: 40px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/009/400/645/small_2x/sim-card-clipart-design-illustration-free-png.png");
  border-radius: 5px;
  margin-bottom: 20px;
  background-size: cover;
}

.card-number {
  font-size: 1.5em;
  margin-bottom: 20px;
}



.card-year {
  font-size: 0.75em;
  margin-bottom: 20px;
}

.cardholder-name {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
}

.delete-icon {
  position: absolute;
  bottom: 20px; 
  right: 20px;   
}

.delete-icon-svg {
  transition: fill 0.3s ease;
}

.delete-icon-svg:hover {
  fill: red;
}

